{{extend 'layout.html'}}

<h2>Meus eventos</h2>
<style>
    .gray, .gray td {
    background: lightgrey;
    color: black;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    }
</style>
<table class="gray">
    <tr class='gray'>
        <th>Nome</th>
        <th>Início</th>
        <th>Término</th>
        <th>Categoria</th>
        <th>Endereço</a></th>
        <th>Município</th>
        <th>Website</th>
        <th>Facebook</th>
        <th>Telefone</th>

    </tr>
  {{for record in rows:}}

    <tr class=gray>
        <td> {{=record.nome_evento}}</td>
        <td> {{=make_data(record.inicio)}}</td>
        <td> {{=make_data(record.termino)}}</td>
        <td> {{=record.categoria}}</td>

        <td> {{=record.endereco}}</td>
        <td> {{=record.municipio.nome_municipio}}</td>
        <td>{{=record.website or ''}}</td>
        <td> {{=record.facebook or ''}}</td>
        <td>{{=to_telefone(record.telefone)}}</td>
        <td> {{=A('Detalhes', _href=URL(r=request,c='default',f='detalhes',args=[record.id]))}}</td>
    </tr>

    {{pass}}

</table>

        {{=form}}


